In [52]:
import pandas as pd

df = pd.read_csv("espn.csv")
df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,6,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,1,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,1
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1

In [53]:
#Rename columns 
df=df.rename(columns={"No":"Not_outs","HS":"Highest_inns_score","BF":"Balls_Faced","SR":"Bating_strike_rate","Mat":"Matchs"})
df.head()

,Player,Span,Matchs,Inns,NO,Runs,Highest_inns_score,Ave,Balls_Faced,Bating_strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,6,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,1,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,1
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1

In [54]:
# Check Null Values 
df.isnull()

,Player,Span,Matchs,Inns,NO,Runs,Highest_inns_score,Ave,Balls_Faced,Bating_strike_rate,100,50,0,4s,6s
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
62,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
63,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
64,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
65,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [55]:
df.isnull().any()

Player                False
Span                  False
Matchs                False
Inns                  False
NO                    False
Runs                  False
Highest_inns_score    False
Ave                   False
Balls_Faced            True
Bating_strike_rate     True
100                   False
50                    False
0                     False
4s                    False
6s                    False
dtype: bool

In [ ]:
df[df["Balls_Faced"].isnull()]   #isna/isnull

,Player,Span,Matchs,Inns,NO,Runs,Highest_inns_score,Ave,Balls_Faced,Bating_strike_rate,100,50,0,4s,6s
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,NaN,15,19,6,258,2
16,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,NaN,15,14,1,107,11
56,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,NaN,NaN,5,6,3,51,0

In [57]:
#Replace values 
df["Balls_Faced"]=df["Balls_Faced"].fillna(0)

In [58]:
df["Bating_strike_rate"]=df["Bating_strike_rate"].fillna(0)

In [59]:
df.iloc[[9]]

,Player,Span,Matchs,Inns,NO,Runs,Highest_inns_score,Ave,Balls_Faced,Bating_strike_rate,100,50,0,4s,6s
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0,0.0,15,19,6,258,2

In [60]:
# Drop duplicates 
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
61     True
62    False
63    False
64    False
65    False
Length: 66, dtype: bool

In [ ]:
#Check for duplicated players , duplicated()==1 equal is true
df[df["Player"].duplicated()==1]

,Player,Span,Matchs,Inns,NO,Runs,Highest_inns_score,Ave,Balls_Faced,Bating_strike_rate,100,50,0,4s,6s
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276,8
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24

In [62]:
df[df["Player"].isin(["GA Headley (WI)","GS Sobers (WI)","JB Hobbs (ENG)","GC Smith (ICC/SA)"])]

,Player,Span,Matchs,Inns,NO,Runs,Highest_inns_score,Ave,Balls_Faced,Bating_strike_rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
11,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32
14,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276,8
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276,8
60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
61,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24

In [63]:
df =df.drop_duplicates()

In [64]:
df

,Player,Span,Matchs,Inns,NO,Runs,Highest_inns_score,Ave,Balls_Faced,Bating_strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,6,6
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,1,137,24
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,1
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
62,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
63,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
64,Hashmatullah Shahidi (AFG),2018-2025,11,21,5,777,124,48.18,1629,47.32,2,2,1,87,1
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [65]:
#Split Span into Start and End date and Career length
df["Span"].str.split(pat="-")

0     [1928, 1948]
1     [2022, 2025]
2     [2015, 2016]
3     [1963, 1970]
4     [1930, 1954]
          ...
60    [2002, 2014]
62    [1924, 1934]
63    [1930, 1938]
64    [2018, 2025]
65    [1928, 1934]
Name: Span, Length: 62, dtype: object

In [66]:
df["Start_date"] = df["Span"].str.split(pat="-").str[0]

In [67]:
df["End_date"] = df["Span"].str.split(pat="-").str[1]

In [68]:
df.head()

,Player,Span,Matchs,Inns,NO,Runs,Highest_inns_score,Ave,Balls_Faced,Bating_strike_rate,100,50,0,4s,6s,Start_date,End_date
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,6,6,1928,1948
1,PHKD Mendis (SL),2022-2025,14,24,3,1316,182*,62.66,2063,63.79,5,5,1,137,24,2022,2025
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,1,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954

In [69]:
#Drop Span column
df=df.drop(["Span"],axis=1)

In [70]:
df.head()

,Player,Matchs,Inns,NO,Runs,Highest_inns_score,Ave,Balls_Faced,Bating_strike_rate,100,50,0,4s,6s,Start_date,End_date
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,6,6,1928,1948
1,PHKD Mendis (SL),14,24,3,1316,182*,62.66,2063,63.79,5,5,1,137,24,2022,2025
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,1,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954

In [71]:
#Split up country from players 
df["Player"].str.split(pat="(")

0               [DG Bradman , AUS)]
1               [PHKD Mendis , SL)]
2                 [AC Voges , AUS)]
3                [RG Pollock , SA)]
4                [GA Headley , WI)]
                  ...
60             [GC Smith , ICC/SA)]
62             [WH Ponsford , AUS)]
63               [SJ McCabe , AUS)]
64    [Hashmatullah Shahidi , AFG)]
65              [DR Jardine , ENG)]
Name: Player, Length: 62, dtype: object

In [72]:
df["Country"]=df["Player"].str.split(pat="(").str[1]
df["Country"]

0        AUS)
1         SL)
2        AUS)
3         SA)
4         WI)
       ...
60    ICC/SA)
62       AUS)
63       AUS)
64       AFG)
65       ENG)
Name: Country, Length: 62, dtype: object

In [73]:
df["Country"].str.split(pat=")")

0        [AUS, ]
1         [SL, ]
2        [AUS, ]
3         [SA, ]
4         [WI, ]
         ...
60    [ICC/SA, ]
62       [AUS, ]
63       [AUS, ]
64       [AFG, ]
65       [ENG, ]
Name: Country, Length: 62, dtype: object

In [74]:
df["Country"]=df["Country"].str.split(pat=")").str[0]

In [75]:
df.head()

,Player,Matchs,Inns,NO,Runs,Highest_inns_score,Ave,Balls_Faced,Bating_strike_rate,100,50,0,4s,6s,Start_date,End_date,Country
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,6,6,1928,1948,AUS
1,PHKD Mendis (SL),14,24,3,1316,182*,62.66,2063,63.79,5,5,1,137,24,2022,2025,SL
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,1,1963,1970,SA
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954,WI

In [82]:
df["Player"]=df["Player"].str.split(pat="(").str[0]
df.head()

,Player,Matchs,Inns,NO,Runs,Highest_inns_score,Ave,Balls_Faced,Bating_strike_rate,100,50,0,4s,6s,Start_date,End_date,Country
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,6,6,1928,1948,AUS
1,PHKD Mendis,14,24,3,1316,182*,62.66,2063,63.79,5,5,1,137,24,2022,2025,SL
2,AC Voges,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,1,1963,1970,SA
4,GA Headley,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954,WI

In [84]:
#Change Data Type 
#Check Data type in our Dataset
df.dtypes

Player                 object
Matchs                 object
Inns                    int64
NO                      int64
Runs                    int64
Highest_inns_score     object
Ave                   float64
Balls_Faced            object
Bating_strike_rate    float64
100                     int64
50                      int64
0                       int64
4s                      int64
6s                      int64
Start_date             object
End_date               object
Country                object
dtype: object

In [91]:
df["Highest_inns_score"]=df["Highest_inns_score"].str.split(pat="*").str[0]
df["Highest_inns_score"]=df["Highest_inns_score"].astype("int")

In [95]:
df=df.astype({"Start_date":"int","End_date":"int"})
df.dtypes

Player                 object
Matchs                 object
Inns                    int64
NO                      int64
Runs                    int64
Highest_inns_score      int64
Ave                   float64
Balls_Faced            object
Bating_strike_rate    float64
100                     int64
50                      int64
0                       int64
4s                      int64
6s                      int64
Start_date              int64
End_date                int64
Country                object
dtype: object

In [98]:
df['Career_length']=df["End_date"]-df["Start_date"]
df.head()

,Player,Matchs,Inns,NO,Runs,Highest_inns_score,Ave,Balls_Faced,Bating_strike_rate,100,50,0,4s,6s,Start_date,End_date,Country,Career_length
0,DG Bradman,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,6,6,1928,1948,AUS,20
1,PHKD Mendis,14,24,3,1316,182,62.66,2063,63.79,5,5,1,137,24,2022,2025,SL,3
2,AC Voges,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
3,RG Pollock,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,1,1963,1970,SA,7
4,GA Headley,22,40,4,2190,270,60.83,416+,56.00,10,5,2,104,1,1930,1954,WI,24

In [99]:
#Question 1 : Average Career length
df["Career_length"].mean()

np.float64(13.080645161290322)

In [102]:
#Question 2 : Average Bating_strike_rate for players who played over 10 years 

df[df["Career_length"]>10]["Bating_strike_rate"].mean()

np.float64(47.809999999999995)

In [106]:
#Question 3 : Numbers of players who played before 1960 

df[df["Start_date"]<1960]["Player"].count()

np.int64(23)

In [113]:
#Question 4 : Max highest inns by country
df.groupby("Country")["Inns"].max()

Country
AFG         21
AUS        287
ENG        292
ICC/IND    286
ICC/PAK    200
ICC/SA     280
ICC/WI     232
IND        329
NZ         189
PAK        213
SA         191
SL         252
WI         280
ZIM        112
Name: Inns, dtype: int64

In [ ]:
#Question 1 : Average Career length